input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  appearance: textfield;
  margin: 0; 
}
input[type="number"] {
    -moz-appearance: textfield;
}
table tr th , td
{
	/*width: 200px;*/
	border: thin solid;

}
table{
	margin-top: 10px;
	margin-bottom: 10px;
}
/*input[type="text"]{
	width: 100px;
}
input[type="number"]{
	width: 100px;
}*/
#table{
	/*position: absolute;
	top: 30px;
	left: 600px;*/
}